04.Source/CapstoneMVC/*.iml
04.Source/CapstoneMVC/.idea/**/workspace.xml
04.Source/CapstoneMVC/.idea/workspace.xml
04.Source/CapstoneMVC/out/
04.Source/CapstoneMVC/target/
04.Source/CapstoneMVC/.idea/**/dataSources/
04.Source/CapstoneMVC/.idea/**/dataSources.ids
04.Source/CapstoneMVC/.idea/**/dataSources.xml
04.Source/CapstoneMVC/.idea/**/dataSources.local.xml
04.Source/CapstoneMVC/.idea/**/sqlDataSources.xml
04.Source/CapstoneMVC/.idea/**/dynamic.xml
04.Source/CapstoneMVC/.idea/**/uiDesigner.xml
04.Source/CapstoneMVC/**/META-INF/persistence.xml