# Created by https://www.gitignore.io/api/maven,intellij+iml

### Intellij+iml ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
04.Source/CapstoneMVC/.idea/**/workspace.xml
04.Source/CapstoneMVC/.idea/**/tasks.xml
04.Source/CapstoneMVC/.idea/dictionaries

# Sensitive or high-churn files:
04.Source/CapstoneMVC/.idea/**/dataSources/
04.Source/CapstoneMVC/.idea/**/dataSources.ids
04.Source/CapstoneMVC/.idea/**/dataSources.xml
04.Source/CapstoneMVC/.idea/**/dataSources.local.xml
04.Source/CapstoneMVC/.idea/**/sqlDataSources.xml
04.Source/CapstoneMVC/.idea/**/dynamic.xml
04.Source/CapstoneMVC/.idea/**/uiDesigner.xml

# Gradle:
04.Source/CapstoneMVC/.idea/**/gradle.xml
04.Source/CapstoneMVC/.idea/**/libraries

# CMake
04.Source/CapstoneMVC/cmake-build-debug/

# Mongo Explorer plugin:
04.Source/CapstoneMVC/.idea/**/mongoSettings.xml

## File-based project format:
04.Source/CapstoneMVC/*.iws

## Plugin-specific files:

# IntelliJ
04.Source/CapstoneMVC/out/

# mpeltonen/sbt-idea plugin
04.Source/CapstoneMVC/.idea_modules/

# JIRA plugin
04.Source/CapstoneMVC/atlassian-ide-plugin.xml

# Cursive Clojure plugin
04.Source/CapstoneMVC/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
04.Source/CapstoneMVC/com_crashlytics_export_strings.xml
04.Source/CapstoneMVC/crashlytics.properties
04.Source/CapstoneMVC/crashlytics-build.properties
04.Source/CapstoneMVC/fabric.properties

### Intellij+iml Patch ###
# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

04.Source/CapstoneMVC/*.iml
04.Source/CapstoneMVC/modules.xml
04.Source/CapstoneMVC/.idea/misc.xml
04.Source/CapstoneMVC/*.ipr

### Maven ###
04.Source/CapstoneMVC/target/
04.Source/CapstoneMVC/pom.xml.tag
04.Source/CapstoneMVC/pom.xml.releaseBackup
04.Source/CapstoneMVC/pom.xml.versionsBackup
04.Source/CapstoneMVC/pom.xml.next
04.Source/CapstoneMVC/release.properties
04.Source/CapstoneMVC/dependency-reduced-pom.xml
04.Source/CapstoneMVC/buildNumber.properties
04.Source/CapstoneMVC/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!04.Source/CapstoneMVC/.mvn/wrapper/maven-wrapper.jar

# End of https://www.gitignore.io/api/maven,intellij+iml